@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "../assets/tana-icons";

// Sizes
$title-bar-height: 26px;
$range-slider-width: 154;

// Colors
$main-base-color: #37474f;
$accent-color: #2962ff
