@import "../../node_modules/plyr/src/sass/plyr";
@import "../../node_modules/highlightjs/styles/androidstudio.css";

@import "./base";

body,
html {
    height: auto;
}

body {
    margin: 0;
    &:hover .title-bar {
      opacity: 1;
      transition: opacity .25s;
  }
}

html.hover-opacity:not(:hover) {
    opacity: 1 !important;
    transition: opacity .25s;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  outline: none;
  &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 14px;
      height: 14px;
      margin-top: -5px;
      border-radius: 7px;
      background: #fff;
      cursor: pointer;
  }
  &::-webkit-slider-runnable-track {
      width: 100%;
      height: 4px;
      cursor: pointer;
      background: #d3d3d3;
      border-radius: 2px;
  }
}

.title-bar {
    display: flex;
    position: fixed;
    top: 0;
    opacity: 0;
    flex-wrap: nowrap;
    justify-content: space-around;
    width: 100%;
    height: $title-bar-height;
    padding: 0 5px;
    box-sizing: border-box;
    user-select: none;
    -webkit-app-region: drag;
    transition: opacity .25s;
    z-index: 5;
    &:after {
        content: " ";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $main-base-color;
        transition: background-color .25s;
        border-radius: 5px;
    }
    >div {
        flex-grow: 0;
        align-items: center;
        align-self: center;
        margin: 0 5px;
        &:first-child {
            margin: 0 5px 0 0;
        }
        &:last-child {
            margin: 0 0 0 5px;
        }
    }
    .actions {
        flex-shrink: 0;
        height: $title-bar-height;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        -webkit-app-region: no-drag;
        .action {
          height: 100%;
          display: block;
          cursor: pointer;
          color: #fafafa;
          z-index: 2;
          padding: 0 5px;
          margin-top: 1px;
          transition: color .25s;
            >i {
                display: block;
                width: 16px;
                height: 16px;
                margin-top: 5px;
            }
            &.show {
              display: block;
            }
        }
        .mute,
        .unmute {
            display: none;
        }
        .visibility {
            &:hover .opacity {
              display: block;
              opacity: 1;
            }
            .opacity {
                position: absolute;
                display: none;
                opacity: 0;
                width: 154px;
                height: 12px;
                top: 32px;
                left: 15px;
                margin: auto;
                z-index: 1;
                transition: opacity .25s;
                &:hover,
                &:active {
                    display: block;
                    opacity: 1;
                }
                &:after {
                    content: " ";
                    display: block;
                    position: absolute;
                    top: -5px;
                    left: -15px;
                    width: 100%;
                    height: 100%;
                    padding: 5px 15px 8px;
                    z-index: -1;
                    background-color: #37474f;
                    border-bottom-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }
        }
    }
    .title-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
        min-width: 0;
        flex-grow: 1;
        box-sizing: border-box;
        text-align: left;
        z-index: 1;
        height: $title-bar-height;
        line-height: $title-bar-height;
        transition: color 0.25s;
        font-family: 'Roboto', sans-serif;
        .title {
            color: #fafafa;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-left: 6px;
            padding-top: 1px;
            font-size: 14px;
        }
        .favicon {
            flex-shrink: 0;
            flex-grow: 0;
            position: relative;
            display: block;
            width: 16px;
            height: 16px;
            margin-top: 1px;
            opacity: 1;
            border-radius: 3px;
            transition: opacity .25s;
            z-index: 1;
            img {
                position: absolute;
                top: 0;
                left: 0;
                overflow: hidden;
                width: 100%;
                height: 100%;
            }
        }
    }
}

#portal {
    padding-top: $title-bar-height;
    min-height: 100%;
    #container {
        position: relative;
        display: block;
        width: 100vw;
        height: calc(100vh - #{$title-bar-height});
        z-index: 3;
        overflow: hidden;
        border-radius: 6px;
        #wrapper {
            overflow: auto;
            width: 100%;
            height: 100%;
        }
    }
    #border {
        position: fixed;
        width: 100vw;
        top: $title-bar-height;
        left: 0;
        bottom: 0;
        pointer-events: none;
        z-index: 4;
        box-sizing: border-box;
        border: 1px solid $main-base-color;
        border-radius: 5px;
    }
    .container {
        display: none;
        height: 100%;
        z-index: 2;
        &.show {
            display: flex;
        }
    }
    #video,
    #webview,
    #text {
        position: relative;
        top: 0;
        left: 0;
        margin: 0;
        width: 100%;
        height: auto;
    }
    #video {
        height: calc(100vh - #{$title-bar-height});
        &::-webkit-media-controls-fullscreen-button {
            display: none !important;
        }
    }
    #webview {
        z-index: 1;
        background: #fff;
        height: calc(100vh - #{$title-bar-height});
    }
    #text {
        background: #fff;
        box-sizing: border-box;
        min-height: 100%;
        >code {
            width: 100%;
            padding: 26px;
            line-height: 28px;
            font-size: 16px;
            font-family: 'Consolas', sans-serif;
        }
    }
    .loader-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        background: #ececec;
        z-index: 2;
        &.hide {
          display: none;
        }
        .text {
          align-self: center;
          text-align: center;
          padding: 10px 20px;
          font-size: 16px;
          font-family: 'Roboto', sans-serif;
          color: $main-base-color;
          box-sizing: border-box;
        }
    }
}
