<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Tana</title>
  <link rel="stylesheet" type="text/css" href="../styles/portal.css" />
  <script>
    require('../js/renderer/electron.handler.js');
  </script>
</head>

<body id="portal">
  <div class="title-bar">
    <div class="actions">
      <div class="close action">
        <i class="tana-icon tana-close"></i>
      </div>
      <div class="hide action">
        <i class="tana-icon tana-hide"></i>
      </div>
      <div class="mute action show">
        <i class="tana-icon tana-mute"></i>
      </div>
      <div class="unmute action">
        <i class="tana-icon tana-unmute"></i>
      </div>
    </div>
    <div class="title-container">
      <div class="favicon">
        <img src="../../assets/tana.png" />
      </div>
      <div class="title">Loading...</div>
    </div>
  </div>
  <div id="container">
    <div id="wrapper">
      <webview id="webview" class="container" disablewebsecurity webpreferences="plugins, nodeIntegration=0" partition="persist:tana"
        ondrop="event.preventDefault();"></webview>
      <video id="video" class="container"></video>
      <div id="loader" class="loader-container">
        <div class="text">Your content is loading...</div>
      </div>
    </div>
  </div>
  <div id="border"></div>
  <script>
    require('../js/renderer/portal.js');
  </script>
</body>

</html>
