@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden !important;
  -webkit-user-select: none;
}

body:hover #titlebar {
  opacity: 1;
  transition: opacity 0.10s;
}

webview {
  background-color: white;
}

webview.hide {
  visibility: hidden;
}

video {
  background-color: black;
}

video::-webkit-media-controls-fullscreen-button {
  display: none;
}

#titlebar {
  opacity: 0;
  transition: opacity 0.10s;
  width: 100%;
  height: 26px;
  background-color: black;
  color: white;
  text-align: center;
  -webkit-app-region: drag;
}

.buttons {
  height: 100%;
  padding-left: 8px;
  padding-top: 4px;
  float: left;
  line-height: 0px;
  -webkit-app-region: no-drag;
}

.button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: inline-block;
}

.close {
  background: #F44336;
  border: 1px solid #E53935;
}

.hide {
  background: #3F51B5;
  border: 1px solid #3949AB;
}

.mute {
  background: #FFFF00;
  border: 1px solid #FFEA00;
}

.close:active {
  background: #D32F2F;
  border: 1px solid #C62828;
}

.hide:active {
  background: #303F9F;
  border: 1px solid #283593;
}

.mute:active {
  background: #FFD600;
  border: 1px solid #FFC400;
}

.title {
  margin-right: 8px;
  padding-left: 8px;
  display: -webkit-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#favicon {
  width: 20px;
  height: 20px;
  padding-top: 3px;
}

#title {
  color: white;
  line-height: 10px;
  vertical-align: 50%;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

#titlebar, .wrapper {
  border-radius: 6px;
}

#media-area {
  height: 100%;
  position: relative;
}

.wrapper {
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-color: #313131;
  overflow: hidden;
  z-index: 20;
}

.wrapper > * {
  position: absolute;
  z-index: 10;
}

#loader {
  z-index: 30;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #404040;
}
